{
  "host": "localhost",
  "port": 3000,
  "phpcli": "../cli.php",
  "twitch": {
    "username": "",
    "password": "",
    "chatTimeout": 5
  },
	"ssl": {
		"enabled": false,
		"keyfile": "",
		"cert": "",
		"cafile": ""
  }
}
