<?php

declare (strict_types = 1);

namespace Bingo;

/**
 * Contains the application configuration constants.
 */
class Config
{
    /**
     * MySQL host
     */
    const DBHOST = 'localhost';

    /**
     * MySQL user
     */
    const DBUSER = 'root';

    /**
     * MySQL user password
     */
    const DBPASS = '';

    /**
     * MySQL database name
     */
    const DBNAME = 'bingo';

    /**
     * The Twitch application ID
     */
    const TWITCH_APP_ID = '';

    /**
     * The Twitch application secret
     */
    const TWITCH_APP_SECRET = '';
}
