* {
    margin: 0;
}

body {
	background: #fff;
	color: #000;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 14px;
}

h1, h2 {
	text-align: center;
}

h1 {
	font-size: 3em;
}

h2 {
    font-size: 1.8em;
    line-height: 1.6em;
}

noscript {
    color: #000;
    display: block;
    text-align: center;
}

#nav {
    background: #9146FF;
    color: #fff;
	font-size: 1.3em;
    height: 52px;
}

#nav a {
	color: #fff;
	text-decoration: none;
}

#nav ul, #nav li {
    display: inline-block;
	list-style: none;
	margin-top: 4px;
	padding: 0;
}

#nav li a, #nav #user li a {
	line-height: 40px;
	padding: 10px;
}

#nav #logo {
	color: #f80;
	float: left;
	font-size: 30px;
	font-weight: bold;
	margin: 0;
	padding: 8px;
}

#user {
    float: right;
    margin-top: 5px;
	padding: 10px;
}

#main {
	margin: 0 auto;
    max-width: 1200px;
    padding: 1em;
    position: relative;
}

#main > p {
    font-size: 1.3em;
    margin: 5px 0;
    text-align: center;
}

#footer {
	text-align: center;
}

.nojs #play, .nojs #host {
    display: none;
}

.letter-b {
	color: #f80;
}

.letter-i {
	color: #fd0;
}

.letter-n {
	color: #4c4;
}

.letter-g {
	color: #08c;
}

.letter-o {
	color: #d4d;
}

a.twitch-login {
    background: #9146FF;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    font-family: 'roobert', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 13px;
    position: relative;
    text-decoration: none;
    transition: all .3s ease;
}

a.twitch-login:hover {
    background: #7313ff;
}

.hidden {
    display: none;
}

#game-list {
    background: #eee;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}

#game-list tr:hover td {
    background: #ddd;
}

#game-list td, #game-list th {
    border-bottom: solid 1px;
    text-align: left;
    white-space: nowrap;
}

#game-list td.player-count {
    text-align: right;
}

.grid {
	background-color: #222;
	font-size: 2.6em;
}

.grid td {
	background: #eee;
	text-align: center;
	user-select: none;
}

#board {
	width: 100%;
}

#board td {
	color: #eee;
}

#board td.marked {
	color: #000;
}

#board td.marked.latest {
    background: #b00;
    color: #fff;
}

#cards {
    text-align: center;
}

.card {
    border: 1px solid #333;
    display: inline-block;
    margin: 0 20px 20px 0;
    padding: 0 20px 20px;
    position: relative;
}

.card td {
	height: 1.6em;
	width: 1.6em;
}

.card .marker {
	border-radius: 50%;
	cursor: pointer;
	height: 90%;
	margin: 0 auto;
	width: 90%;
}

.card .marker.marked, .card .marker.free {
	background-color: #f33;
}

.card .free {
	cursor: default;
	font-size: .6em;
	font-weight: bold;
	padding-top: 6px;
	transform: rotate(45deg);
}

.template {
    display: none;
}

#connection-status {
    position: absolute;
    top: 0;
    right: 0;
    width: 15em;
}

#card-count {
    font-size: 2em;
    text-align: right;
}

.game-name {
	color: #800;
}

#game-controls {
    border: 2px inset;
    margin-bottom: 10px;
    padding: 8px;
}

#game-controls > div {
    border: 2px solid;
    border-radius: 6px;
    margin: 4px 0;
    padding: 8px;
}

#call-number, #create-game {
    border-radius: 8px;
    border: 2px solid;
    font-size: 1.2em;
    font-weight: bold;
    padding: 8px 14px;
}

#call-number:disabled, #create-game:disabled {
    color: #ccc;
}

#call-number {
    color: #4c4;
}

#create-game {
    color: #800;
}

.game-over-wrapper {
    background: rgba(0, 0, 0, .6);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2000;
}

.game-over {
    background: #fff;
    border: 1px solid #000;
    margin: 80px auto;
    padding: 20px 0;
    text-align: center;
    width: 90%;
}

#version, #beta-notice {
    bottom: 0;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    margin: 4px;
    position: fixed;
}

#version {
    right: 0;
}

#beta-notice {
    font-size: 2em;
    font-weight: bold;
    opacity: .3;
}

@media (min-width: 1920px) {
	#board {
		font-size: 2.6em;
	}
}
