html, body, #main-container, #inner-container {
    height: 100%;
}

body {
    color: #fff;
    overflow: hidden;
}

h1, h2 {
    text-shadow: .05em .05em .08em #666;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
    margin: .4em 0 .5em;
}

#main-container {
    animation: background-fade 60s infinite;
}

#inner-container {
    background: linear-gradient(rgba(63, 63, 63, .4), rgba(255, 255, 255, .4));
    padding: 1em;
}

#end-game {
    background: linear-gradient(#eee, #fff);
    border-radius: 3em;
    box-shadow: .3em .3em 1em #666;
    color: #000;
    display: none;
    left: 10%;
    padding: 3em;
    position: absolute;
    right: 10%;
    text-align: center;
    top: 10%;
    z-index: 2000;
}

#winner-display {
    animation: color-rotate 10s infinite;
    background: linear-gradient(-45deg, #f80, #fd0, #4c4, #08c, #d4d);
    background-clip: text;
    color: transparent;
    display: none;
    font-size: 3em;
    font-weight: bold;
}

#restart-countdown {
    display: none;
    font-size: 2em;
    margin-top: 20px;
}

.bingo-ball {
    animation-delay: 0ms, 5000ms;
    animation-duration: 800ms, 2000ms;
    animation-fill-mode: forwards;
    animation-name: ball-slide-in, ball-fade-out;
    animation-timing-function: ease-out, ease-in;
    border-radius: 50%;
    box-shadow: .5em 1em 1.5em #444, inset -1em -1em 5em #444;
    height: 30em;
    left: -60em;
    margin: -15em;
    position: absolute;
    top: 50%;
    width: 30em;
    z-index: 1000;
}

.bingo-ball .inner-ball {
    animation: ball-roll-in 800ms ease-out forwards;
    background: #fff;
    border-radius: 50%;
    color: #000;
    font-size: 2.5em;
    font-weight: bold;
    height: 5em;
    left: 50%;
    margin: -2.5em;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 5em;
}

.bingo-ball .ball-shine {
    background: #fff;
    border-radius: 80% 20%;
    box-shadow: 0 0 2em 2em #fff;
    height: 2em;
    left: 25%;
    opacity: .4;
    position: absolute;
    top: 15%;
    width: 3em;
}

.bingo-ball.b {
	background-color: #f80;
}

.bingo-ball.i {
	background-color: #fd0;
}

.bingo-ball.n {
	background-color: #4c4;
}

.bingo-ball.g {
	background-color: #08c;
}

.bingo-ball.o {
	background-color: #d4d;
}

.bingo-ball .letter {
    font-size: 1.5em;
    line-height: 1.3em;
}

.bingo-ball .number {
    font-size: 2.5em;
    line-height: .8em;
}

@keyframes ball-slide-in {
    from {
        left: -60em;
    }

    to {
        left: 50%;
    }
}

@keyframes ball-roll-in {
    from {
        transform: rotate(-180deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes ball-fade-out {
    to {
        opacity: 0;
    }
}

@keyframes background-fade {
    0% {
        background: #f80;
    }

    20% {
        background: #fd0;
    }

    40% {
        background: #4c4;
    }

    60% {
        background: #08c;
    }

    80% {
        background: #d4d;
    }

    100% {
        background: #f80;
    }
}

@keyframes color-rotate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}
